.card {
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  text-align: center;
  background-color: var(--white-color);
  cursor: pointer;
  transition: transform 0.2s, border-color 0.2s;
}

.card:hover {
  transform: scale(1.05);
  border: 2px solid var(--auxiliary-color);
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(4, minmax(150px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
  padding: 16px;
  height: 85vh;
}