.card {
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  text-align: center;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: transform 0.2s;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(4, minmax(150px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
  padding: 16px;
}