.column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
}

header {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 1rem;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}